.our-work {
  display: none;
}
@include desktop {
  .our-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
      display: block;
      margin-top: 0px;
      margin-bottom: 50px;
    }
    &__list {
      display: flex;
      justify-content: space-between;
      position: relative;
      padding-left: 0px;
      margin: 0px;
      gap: 30px;
    }
    &__img {
      width: 370px;
      height: 294px;
    }
    &__figcaption {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 370px;
      height: 70px;
      background-color: var(--box-description-bgc);
      position: absolute;
      bottom: 0;
    }
    &__description {
      font-size: 14px;
      line-height: 1.172;
      font-weight: 700;
      color: var(--logo-footer);
    }
  }
}
