.rules {
  display: flex;
  justify-content: center;
  padding: 60px 0px;
  margin: auto;
}

.rules-list {
  gap: 30px;
  &__item {
    width: 450px;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.172;
    margin: 0px;
    text-align: center;
  }
  &__explain {
    color: var(--signatures);
    font-size: 14px;
    line-height: 1.72;
    margin: 10px 0px 0px 0px;
  }
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 120px;
    background-color: var(--buttons-background);
    border-radius: 4px;
    margin: 0px;
    margin-bottom: 30px;
  }
}
@include tablet {
  .rules-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
      flex-basis: calc((100% - (1 * 30px)) / 2);
      display: block;
      width: 354px;
      height: 251px;
    }
    &__icon {
      width: 354px;
      height: 120px;
    }
  }
}
@include desktop {
  .rules-list {
    display: flex;
    justify-content: center;
    width: 270px;
    &__title {
      text-align: left;
    }
    &__icon {
      width: 270px;
      height: 120px;
    }
  }
}
